.form-control:focus {
    box-shadow: none;
    border-color: #ba68c8;
  }
  
  .labels {
    font-size: 15px;
    font-weight: 400;
    text-align: right;
    margin-right: 25px;
    margin-bottom: -15px;
    margin-top: 10px;
  }
  
  .small-font {
    font-size: 12px;
    font-weight: bolder;
    margin-right: 25px;
  }
  
  input.form-control3 {
    font-size: 1em;
    font-weight: 200;
    /* position: absolute; */
    transition: all 0.15s ease;
    width: 100%;
    text-align: right;
    cursor: text;
    border-radius: 50px;
    background: #eaeaea;
    height: 50px;
    padding: 20px 20px 20px 20px;
    outline: none;
    border: none;
  }
  
  .titleAddBook {
    text-align: right;
  }

  .col-md-12 {
    margin-bottom: 20px;
  }



  textarea.form-control3 {
    font-size: 1em;
    font-weight: 200;
    /* position: absolute; */
    transition: all 0.15s ease;
    width: 100%;
    text-align: right;
    cursor: text;
    border-radius: 50px;
    background: #eaeaea;
    height: 75px;
    padding: 20px 20px 20px 20px;
    outline: none;
    border: none;
  }
  
  select.form-control3 {
    font-size: 1em;
    font-weight: 200;
    /* position: absolute; */
    transition: all 0.15s ease;
    width: 100%;
    text-align: right;
    border-radius: 50px;
    background: #eaeaea;
    height: 60px;
    padding: 20px 20px 20px 20px;
    outline: none;
    border: none;
  }
  /* option.optionBook{
    margin-left: 20px;
  } */

  Button.Agahi{
      margin-right: 20px;
  }