.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  margin-right: 20px;
}
.inP {
  margin-right: 20px;
}
.imgButton {
  margin-left: 25px;
  margin-top: -60px;
}
.imgBox {
  margin-top: 20px;
}
input.form-control1 {
  font-size: 1em;
  font-weight: 200;
  /* position: absolute; */
  transition: all 0.15s ease;
  width: 100%;
  text-align: right;
  cursor: text;
  border-radius: 20px;
  background: #eaeaea;
  height: 60px;
  padding: 20px 20px 20px 20px;
  outline: none;
  border: none;
}
input.form-control2 {
  font-size: 1em;
  font-weight: 200;
  /* position: absolute; */
  transition: all 0.15s ease;
  width: 100%;
  text-align: right;
  cursor: text;
  border-radius: 20px;
  background: #ffc4e1;
  height: 60px;
  padding: 20px 20px 20px 20px;
  outline: none;
  border: none;
}
.title {
  text-align: right;
}
.col-md-12 {
  margin-bottom: 20px;
  /* background-color: #FF87CA; */
}
.col-md-5 {
  background-color: #ffc4e1;
}
.col-md-3 {
  background-color: #eaeaea;
}
.col-md-4 {
  background-color: #eaeaea;
}
/* .add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
} */

/* **************************************** */

.single_advisor_profile {
  margin-right: "-100px";
  width: 700%;
  position: relative;
  margin-bottom: 50px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

.single_advisor_profile .advisor_thumb {
  /* margin-right: -200px; */
  position: relative;
  z-index: 1;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  padding: 1% 1% 0 1%;
  background-color: #fcfcfc;

  overflow: hidden;
}

/* .single_advisor_profile .advisor_thumb::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 147%;
  height: 80px;
  bottom: -50px;
  left: -25%;
  content: "";
  background-color: #ffc4e1;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
} */
@media only screen and (max-width: 575px) {
  .single_advisor_profile .advisor_thumb::after {
    height: 160px;
    bottom: -90px;
  }
}

.single_advisor_profile .advisor_thumb .social-info {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  right: 30px;
  text-align: center;
}

.single_advisor_profile .advisor_thumb .social-info {
  font-size: 14px;
  color: rgb(7, 0, 0);
  padding: 0 5px;
}

.single_advisor_profile .advisor_thumb .social-info :hover,
.single_advisor_profile .advisor_thumb .social-info :focus {
  color: #fcfcfc;
}

.single_advisor_profile .advisor_thumb .social-info :last-child {
  padding-right: 0;
}

.single_advisor_profile .single_advisor_details_info {
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: center;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: #ffc4e1;
}

.single_advisor_profile .single_advisor_details_info::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  margin-top: 45px;
  width: 175px;
  height: 3px;
  background-color: #811854;
  content: "";
  text-align: center;
  top: 12px;
  right: 30px;
}

.single_advisor_profile .single_advisor_details_info h6 {
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info h6 {
    font-size: 20px;
  }
}

.single_advisor_profile .single_advisor_details_info p {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 0;
  font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info p {
    font-size: 12px;
  }
}

.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
  background-color: #811854;
}

.single_advisor_profile:hover .advisor_thumb .social-info,
.single_advisor_profile:focus .advisor_thumb .social-info {
  color: #ffffff;
}

.single_advisor_profile:hover .advisor_thumb .social-info:hover,
.single_advisor_profile:hover .advisor_thumb .social-info:focus,
.single_advisor_profile:focus .advisor_thumb .social-info:hover,
.single_advisor_profile:focus .advisor_thumb .social-info:focus {
  color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
  background-color: #811854;
}

.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
  background-color: #ffc4e1;
}

.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
  color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
  color: #ffffff;
}
