
/* 
====== 
Books List 
======
*/

* {
  font-family: 'BNazanin';
    src: url('http://example.com/fonts/BNazanin.eot');
}

.section {
    padding: 5rem 0;
  }
  .section-title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: right;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  .books-center {
    width: 85vw;
    margin: 0 auto;
    max-width: 5000px;
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* align-items: start; */
  }
  @media screen and (min-width: 576px) {
    .books-center {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }
  