.navdropdown {
  text-align: right;
}

.logout-sign {
  text-align: left;
  justify-content: "flex-end";
}

.navbar {
  /* background-image: url("http://127.0.0.1:3000/nav-bg.png"); */
  background-repeat: no-repeat;

  /* background-color: white; */
  background:linear-gradient(0deg, pink, white 40%) no-repeat;
}

.navbar-homepage-ref {
  background: url("http://127.0.0.1:3000/agamar-big-logo-2.png") center /
    contain no-repeat;
  width: 24vh;
  height: 8vh;
  background-size: cover;
  background-size: 100% 100%;
  transition: opacity 0.7s;
}
.navbar-homepage-ref:hover {
  opacity: 0.5;
}

.navbar-login-btn {
  background-color: rgb(252, 116, 181);
  border-color: transparent;
}

.nav-icons {
  transition: 1s;
  color: rgb(243, 59, 89);
  /* filter: grayscale(100%); */
}
.nav-icons:hover {
  cursor: pointer;
  opacity: 0.5;
}

.dropdown-menu {
  background-color: pink;
  left: auto;
}

.profImage {
  border-radius: 50%;
  transition: border-color 0.5s;
  border-style: solid;
  border-color: transparent;
}
.profImage:hover {
  border-color: rgb(243, 59, 89);
}

.nav-drop-desc {
  color: pink;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.nav-btn {
  background-color: pink;
  border-color: rgba(255, 90, 169);
  border-width: 1px;
  cursor: pointer;
  transition: 0.1s;
  color: black;
  border-radius: 5%;
  padding: 10px;
}
.nav-btn:hover {
  background-color: transparent;
  border-color: rgba(255, 90, 169);
  color: rgb(255, 90, 169);
  border-radius: 20%;
  background-color: white;
}
.nav-btn:disabled {
  background-color: rgb(255, 90, 169);
  border-color: rgb(255, 90, 169);
  color: pink;
  border-radius: 0%;
  cursor: not-allowed;
}
.nav-btn:active {
  background: rgba(255, 90, 169);
  color: white;
}

/*
.btn-outline-s {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}
*/
