.advancedsearchmodal {
  text-align: right;
  color: black;
}

.ant-picker-dropdown {
  z-index: 6000 !important;
}

.autocompletedrpdwn {
  text-align: center;
}

.advanced-search-btn {
  background-color: pink;
  border-color: rgba(255, 90, 169);
  border-width: 1px;
  cursor: pointer;
  transition: 0.1s;
  color: rgba(255, 90, 169);
  border-radius: 5%;
  padding: 2vh;
}
.advanced-search-btn:hover {
  background-color: transparent;
  border-color: rgba(255, 90, 169);
  color: rgb(255, 90, 169);
  border-radius: 0%;
  background-color: white;
}
.advanced-search-btn:disabled {
  background-color: rgb(255, 90, 169);
  border-color: rgb(255, 90, 169);
  color: pink;
  border-radius: 0%;
  cursor: not-allowed;
}
.advanced-search-btn:active {
  background: rgba(255, 90, 169);
  color: white;
}
.text-maxer {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(255, 90, 169);
  border-color: transparent;
}

.antd-text-field {
  background-color: rgba(255, 90, 169);
}

.ant-modal-header {
  background-color: transparent;
}

.ant-modal-content {
  /*background-image: url("http://127.0.0.1:3000/nav-bg.png");*/
}

.ant-modal-header {
  text-align: right;
}

.ant-modal-close {
  left: 0;
}

.ant-input {
  background-color: rgb(250, 192, 203);
}
.ant-input::placeholder {
  color: rgba(255, 90, 169);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.textfieldclass {
  margin-top: -30vh;
  z-index: 5000;
}
.ant-select-item-option {
  overflow-y: hidden;
}

.ant-input-search-button {
  background-color: rgb(233, 21, 56);
  border-color: pink;
}

.ant-input-search-button:hover {
  background-color: pink;
}
