.advancedsearchmodal {
  text-align: right;
  color: rgb(255, 255, 255);
}

.ant-picker-dropdown {
  z-index: 6000 !important;
}

.autocompletedrpdwn {
  text-align: right;
  border-radius: 50px;
}

.advanced-search-btn {
  background-color: pink;
  border-color: rgba(255, 90, 169);
  border-width: 1px;
  cursor: pointer;
  transition: 0.1s;
  color: rgba(255, 90, 169);
  padding: 1%;
}
.advanced-search-btn:hover {
  background-color: transparent;
  border-color: rgba(255, 90, 169);
  color: rgb(255, 90, 169);
  border-radius: 20%;
  background-color: white;
}
.advanced-search-btn:disabled {
  background-color: rgb(255, 90, 169);
  border-color: rgb(255, 90, 169);
  color: pink;
  border-radius: 0%;
  cursor: not-allowed;
}
.advanced-search-btn:active {
  background: rgba(255, 90, 169);
  color: white;
}
.text-maxer {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(255, 90, 169);
  border-color: transparent;
}

.antd-text-field {
  /* background-color: rgba(255, 90, 169); */
  border-radius: 50px;
}

.ant-modal-header {
  background-color: transparent;
}

.ant-modal-content {
  /* background-image: url("http://127.0.0.1:3000/nav-bg.png"); */
}

.ant-modal-header {
  text-align: right;
}

.ant-modal-close {
  left: 0;
}

.ant-input {
  /* color: red; */
  border-radius: 50px;
  background-color: #ffe2ed;
}
.ant-input::placeholder {
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
