.navdropdown {
  text-align: right;
}
body {
  background-color: red;
  color: white;
  padding: 40px;
  font-family: "B Nazanin";
  text-align: center;
}

.NavDropdownProf {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
