body {
  /* background-color: rgb(255, 230, 230); */
  padding: 1%;
  text-align: center;

  /* background-image: url("http://127.0.0.1:3000/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
}

html:lang(en) body {
  font-family: "B Nazanin";
}

html:lang(fa) body {
  font-family: "B Nazanin";
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(252, 116, 181);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(243, 59, 89);
}

