/*
.div-banners {
  font-size: 200%;
  height: "200px";
  color: "red";
  background-size: "100% 100%";
  line-height: "160px";
  text-align: "center";
  background-image: 'url("http://127.0.0.1:3000/BannerImags/1.jpg")';
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: black;
}
*/
